<article>
  <hgroup class="mb-4">
    <h1 class="ui-display-2xl"><%= @resource.title %></h1>
    <p class="font-medium"><%= @resource.description %></p>
  </hgroup>

  <div class="prose">
    <%= markdownify @resource.content, process: [CopyableCodeProcessor] %>
  </div>
</article>
