<article>
  <h1 class="ui-display-2xl">
    <%= @resource.title %>
  </h1>

  <section class="prose">
    <%= markdownify @resource.content, process: [CopyableCodeProcessor] %>
  </section>
</article>
