<article>
  <hgroup class="mb-4">
    <h1 class="ui-display-2xl"><%= @resource.title %></h1>
    <p class="font-medium"><%= @resource.description %></p>
  </hgroup>

  <div class="not-prose mb-6">
    <%= render CopyCommand.new(command: "bin/rails g quicksilver_ui:affordance #{@resource.title.downcase}") %>
  </div>

  <section class="prose">
    <%= markdownify @resource.content, process: [CopyableCodeProcessor] %>
  </section>
</article>
