<nav class="w-52">
  <div class="px-4 py-2 border-r border-slate-200 h-full space-y-4">
    <div>
      <h5 class="font-medium text-lg">Getting started</h5>

      <menu>
        <% Content::Page.all.reject(&:root?).each do |page| %>
          <li>
            <%= link_to page.title, page, class: "ui-link" %>
          </li>
        <% end %>
      </menu>
    </div>

    <div>
      <%= link_to components_path do %>
        <h5 class="font-medium text-lg">Components</h5>
      <% end %>

      <menu>
        <% Content::Component.all.each do |component| %>
          <li>
            <%= link_to component.name, component, class: "ui-link" %>
          </li>
        <% end %>
      </menu>
    </div>
  </div>
</nav>
